<!DOCTYPE html>
<html>
    <head>
        <title>Eshop Activation Email</title>
    </head>
    <body>
        <div>
            <h1>Welcome to Eshop</h1>
        </div>
        <div>
            <p>Hello <%= name %>,</p>
            <h2><%= otp %></h2>
        </div>
    </body>
</html>